<div class="container garimage">
    <ul>
        <li><a [routerLink]="['/']">Home</a></li>
        <li><a [routerLink]="['/']">Contact Us</a></li>
        <li><a [routerLink]="['/aboutus']">Advertise</a></li>
    </ul>

    <div class="well">
        <h4>About Us:</h4>
        <p>Kammavaibhavam is the first Kamma magazine started way back in 2004 by Shri Yalamanchi Chiranjeevi Rao.</p>
        <p>Kammavaibhavam is a leading monthly magazine being circulated in south India for the kamma community in telugu language. Since 2004, the magazine is being published without any lapse. The prime motto of the magazine is to highlight about famous
            and polpular personalities in kammas and distribute the same to the rest of the community.</p>
        <p>To reach more kammas across the globe, the magazines are made available online through kammavaibhavam.com portal from Jan' 2014. Kammavaibhavam requests you to provide support to us in improving the quality of the magazines. Thank you</p>
    </div>
</div>