<footer>
    <div class="footer" id="footer">
        <div class="container">
            <div class="row">
                <h1 class="copyright">Copyright 2013 - KVM</h1>
                <div class="col-md-4" id="footerlink">
                    <h4 class="sitemap">Site Map:</h4>
                    <ul>
                        <li><a [routerLink]="['/']">Home</a></li>
                        <li><a [routerLink]="['/']">Contact Us</a></li>
                        <li><a [routerLink]="['/aboutus']">About Us</a></li>
                    </ul>
                </div>
                <div class="col-md-8" id="privacycontent">
                    <span>Privacy Policy - </span>
                    <a class="ourprivacy">Our Privacy Policy explains how we treat your personal data and protect your privacy while using The Services. By using the
  Services, you agree that Kamma vaibhavam can use such data as per the terms laid out in the Privacy Policy. All communication,
  which will need to be provided to you as part of our commitment to providing you the Services, will be considered part
  of the services, and there will be no opt-out from receiving these communications.</a>
                </div>
            </div>
        </div>
    </div>
</footer>